:root{
    --White: hsl(0, 0%, 100%);
    --Slate-300: hsl(212, 45%, 89%);
    --Slate-500: hsl(216, 15%, 48%);
    --Slate-900: hsl(218, 44%, 22%);
    --Font-Size: 15px;
    --Font-Family: 'Outfit', sans-serif;
}
@media screen and (max-width: 600px) {
    :root {
        --Font-Size: 12px;
    }
    
}
body{
    margin: 0;
    padding: 0;
    font-size: var(--Font-Size);
    font-weight: 400;
    font-family: var(--Font-Family);
    background-color: var(--Slate-300);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 20rem;
    height: 32rem;
    background-color: var(--White);
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 30px;
}
.qr-code{
    width: 16rem;
    height: 16rem;
    border-radius: 1rem;
    margin: 20px;
}
.heading{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--Slate-900);
    text-align: center;
    margin-top: 10px;
}
.text{
    font-size: 1rem;
    color: var(--Slate-500);
    text-align: center;
    margin-top: 10px;
}
.attribution{
    font-size: 0.8rem;
    color: var(--Slate-500);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}